streamlit
folium
pydeck
numpy
pandas
matplotlib
seaborn
requests
tensorflow
scikit-learn
python-dotenv
earthdata
netCDF4
xarray
langchain
langchain-community
chromadb
streamlit_folium
transformers
sentence-transformers
faiss-cpu
accelerate
